@{
    ViewData["Title"] = "Lecture Dashboard";
}

<div class="flex">
    <div class="flex-layout">
        <div class="containerProduct">
            <h2>Lecture Card</h2>
            <a class="nav-link text-dark" asp-area="" asp-controller="Lecture" asp-action="Card">Lecture Card</a>
        </div>
        <div class="containerProduct">
            <h2>Progress Page</h2>
            <a class="nav-link text-dark" asp-area="" asp-controller="Lecture" asp-action="Progress">Progress Bar</a>
        </div>
        
        <div class="containerProduct">
            <h2>Report</h2>
            <a class="nav-link text-dark" asp-area="" asp-controller="Lecture" asp-action="Report">Report</a>
        </div>
    </div>
</div>
