version: 2.1

jobs:
  build_and_test_js:
    # Use the same Node.js environment
    docker:
      - image: cimg/node:18.17.0
    
    working_directory: ~/repo

    steps:
      - checkout

      # Restore cache using package-lock.json
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
            # fallback
            - v1-dependencies-

      # Install dependencies using 'npm ci'
      - run:
          name: Install Dependencies
          command: npm ci # 'ci' is the correct command for CI servers

      # Save cache using package-lock.json
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}

      # Run tests using 'npm test'
      - run:
          name: Run Tests
          command: npm test

workflows:
  build_test:
    jobs:
      - build_and_test_js