@model IEnumerable<WilPWA.Models.AttendanceRecord>

@{
    ViewData["Title"] = "ReportList";
}
@if (LoggedInUser.Role == "Student")
{
    <h1>Student Report List</h1>

    @if (Model.Any() == null)
    {
        <tr>
            <td colspan="6" class="no-claims">You have no Reports listed.</td>
        </tr>
    }
    else
    {
    <table class="table">
        <thead>
            <tr>
                <th>Student Number</th>
                <th>Clocked In</th>
                <th>Clocked Out</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model.Where(c => c.StudentNumber == LoggedInUser.UserID))
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.StudentNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.ClockInTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.ClockOutTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>                    
                </tr>
            }
        </tbody>
    </table>
    }
}
else
{
    <h1>You do not have access to this page.</h1>
}
