@{
    ViewData["Title"] = "SetCalendar";
}

@if (LoggedInUser.Role == "Student")
{

    <h1>Set Calendar</h1>

    <button>Save changes</button>
    <br />
    <button>Discard changes</button>
}
else
{
    <h1>You do not have access to this page.</h1>
}